.custom-input {
  position: relative;
  span {
    pointer-events: unset !important;
  }
}

.custom-cover {
  min-height: 40vh;
  background-position: center center !important;
  background-size: cover !important;
  position: relative;
}

.custom-cover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2)
  );
  border-radius: inherit;
}

.custom-content a {
  color: rgb(var(--color-primary-600)) !important;
}

.slide-cover {
  background-position: center center !important;
  background-size: cover !important;
  position: relative;

  @media (min-width: 768px) {
    min-height: 60vh;
  }

  @media (max-width: 768px) {
    height: 50vw;
  }
}

.slide-cover:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(
    190deg,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 1)
  );
  border-radius: inherit;
}

label.required {
  &:after {
    content: '*';
    color: red;
    display: inline-block;
    position: relative;
    right: -3px;
  }
}

.latest-challenge {
  background: rgb(var(--color-primary-600));

  &::before {
    height: inherit;
    width: inherit;
    background: rgb(var(--color-primary-600));
    content: '';
    position: absolute;
    transform: rotate(30deg);
  }

  &::after {
    height: inherit;
    width: inherit;
    background: rgb(var(--color-primary-600));
    content: '';
    position: absolute;
    transform: rotate(-30deg);
  }
}

@media (max-width: 525px) {
  html {
    font-size: 14px;
  }
}

.u-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}